<script>
    var serverData = {{{data}}};
</script>
{{{{no-hbs}}}}
<div class="app-container" ng-app="SimilarWebTestTask">
    <div class="app-content" ng-controller="historyTableController">
        <div>
            <div class="table-heading">Browsing history</div>
            <div class="row">
                <form class="col s12">
                    <div class="row search-filter">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">search</i>
                            <input placeholder="Start typing..." id="filter" type="text" class="validate"
                                   ng-model="searchFilter"
                                   ng-change="onSearchFilterChange()"/>
                            <label for="filter" class="active">Type part of url to filter</label>
                            <div class="progress" ng-show="fetchingInProgress">
                                <div class="indeterminate"></div>
                            </div>
                        </div>
                </form>
            </div>
            <div class="row">
                <table class="surf-history">
                    <thead>
                    <tr>
                        <th>Time</th>
                        <th>URL</th>
                    </tr>
                    </thead>
                    <tbody ng-show="!fetchingInProgress">
                    <tr ng-repeat="historyEntry in history">
                        <td>{{historyEntry.time || "-"}}</td>
                        <td ng-if="historyEntry.needle" class="search-result">
                            <span class="prefix">{{historyEntry.prefix}}</span>
                            <span class="needle">{{historyEntry.needle}}</span>
                            <span class="tail">{{historyEntry.tail}}</span>
                        </td>
                        <td ng-if="!historyEntry.needle">
                            {{historyEntry.href}}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h2 class="no-data-message" ng-if="!history || history.length == 0">
                    No data present in the storage
                </h2>
            </div>
        </div>
    </div>
</div>
{{{{/no-hbs}}}}