body{
    background-color: darkgrey;
    font-family: Calibri;
}

.app-container{
    display: block;
    margin: auto;
    width: 500px;
}

.app-content, table.surf-history{
    width: 100%;
}

div.table-heading{
    text-transform: uppercase;
    color: ghostwhite;
    font-size: xx-large;
    margin-bottom: 40px;
    margin-top: 40px;
}

table.surf-history{
    border-collapse: collapse;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.25);
    color: #808080;
}

table.surf-history tbody tr td{
    border-bottom: 1px solid  #cdcdcd;
}

table.surf-history tbody tr{
    background-color: #f2f2f2;
}

table.surf-history tbody tr:nth-child(odd){
    background-color: #d9d9d9;
}

table.surf-history thead tr th{
    padding-left: 10px;
    text-align: left;
    color: ghostwhite;
    background-color: black;
    font-weight: 100;
}

table.surf-history tr th:first-of-type, table.surf-history tr td:first-of-type{
    width: 95px;
    border-right: 1px solid  #cdcdcd;
}

table.surf-history tr td:last-of-type{
    width: 400px;
    border-right: 1px solid  #cdcdcd;
    word-break: break-word;
}

table.surf-history tbody:before {
    content: "-";
    display: block;
    line-height: 0px;
    color: transparent;
}

table.surf-history tr:last-of-type td:last-of-type{
    border-bottom-right-radius: 3px;
}

table.surf-history tr:last-of-type td:first-of-type{
    border-bottom-left-radius: 3px;
}

table.surf-history thead tr th:first-of-type{
    border-top-left-radius: 3px;
}

table.surf-history thead tr th:last-of-type{
    border-top-right-radius: 3px;
}

table.surf-history td.search-result span.needle{
    margin-left: -2px;
    margin-right: -2px;
    background-color: #e2cf51;
}

.search-filter{
    background-color: dimgray;
    border-radius: 5px;
}

h2.no-data-message{
    color: #eee;
    text-transform: uppercase;
}